extends layout.pug

block content 
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  article.grid-container.portfolio-intro.portfolio-project
    .grid-x
      .cell.small-6.medium-9.large-9
        
        h1 Daniel Martin
        
        p.lead.text-light
          | Full Stack JavaScript and Wordpress Developer
        
        .portfolio-bio
          p
            | I love building amazing apps and websites.
           
      .cell.portfolio-meta.small-6.medium-2.large-3
        h6 Skills
        
        ul
          li JavaScript 
          li Express
          li Pug templates
          li React
          li HTML
          li CSS
          li Wordpress
          li Zapier
          li Infusionsoft
          li Google Tag Manager
          li Google Analytics
        h6 Contact Info
        
        ul
          li 07473057132
          li danielmartin1996@hotmail.com
        
        a.button.expanded(href='https://www.linkedin.com/in/daniel-martin-025756137/') LinkedIn
        a.button.expanded(href='https://github.com/DanielMartin96?tab=repositories') GitHub
        
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back